[user]
	name = Michinari Sakai
	email = michsakai@gmail.com
[core]
	editor = vim
	excludesfile = /home/sakaim1/.gitignore_global
[push]
	default = simple
[diff]
	submodule = log
	tool = vimdiff
[difftool]
	prompt = false
[pager]
	show = vim -R -
