[user]
	name = sakaim1
	email = Mich.Sakai@jhuapl.edu
[core]
	editor = vim
	excludesfile = /home/sakaim1/.gitignore_global
[push]
	default = simple
[diff]
	submodule = log
	tool = vimdiff
[difftool]
	prompt = false
[pager]
	show = vim -R -
[pull]
	rebase = false
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
