*.DS_Store
vim/.vim/.netrwhist
tmux/.tmux/resurrect
vim/.vim/swp
vim/.vim/undo
vim/.vim/backup

# Binary VIM spell file that can be compiled.
**.add.spl

# Python temporary files.
**/__pycache__

# Cern ROOT Tex files.
cernroot/cernroot_test/cernroot_plots/*.aux
cernroot/cernroot_test/cernroot_plots/*.log
cernroot/cernroot_test/cernroot_plots/*.tex
