### bash
[submodule "bash-it"]
	path = bash-it
	url = https://github.com/Bash-it/bash-it.git

### DIR_COLORS
[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
