### vim plugins
[submodule "vim/.vim/bundle/linediff"]
	path = vim/.vim/bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/.vim/bundle/EasyMotion"]
	path = vim/.vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/vim-easy-align"]
	path = vim/.vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/keepcase"]
	path = vim/.vim/bundle/keepcase
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/.vim/bundle/rename"]
	path = vim/.vim/bundle/rename
	url = https://github.com/danro/rename.vim.git
[submodule "vim/.vim/bundle/syntax"]
	path = vim/.vim/bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/.vim/bundle/matchit"]
	path = vim/.vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim-copycat"]
	path = vim/.vim/bundle/vim-copycat
	url = https://github.com/georgefs/vim-copycat.git
[submodule "vim-obsession"]
	path = vim/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git

### bash
[submodule "bash-it"]
	path = bash-it
	url = https://github.com/Bash-it/bash-it.git

### tmux plugins
[submodule "tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux-continuum"]
    path = tmux/.tmux/plugins/tmux-continuum
    url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux-open"]
    path = tmux/.tmux/plugins/tmux-open
    url = https://github.com/tmux-plugins/tmux-open.git
[submodule "tmux-resurrect"]
    path = tmux/.tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux-sensible"]
    path = tmux/.tmux/plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tpm"]
    path = tmux/.tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
