snippet ; "; // " i
; // 
endsnippet

snippet ) ") // " i
) // 
endsnippet

snippet { "{ // " i
{ // 
endsnippet

snippet "" "text inside double quotation" i
"${1:${VISUAL}}"
endsnippet

snippet '' "text inside double quotation" i
'${1:${VISUAL}}'
endsnippet

snippet ccout "cout with clear output to user" w
std::cout << "${1:${VISUAL}} " << $1 << std::endl;
endsnippet

snippet /* "doxygen brief comment" b
/** @brief ${1:${VISUAL}} */
endsnippet
